<link rel="stylesheet" href="trending.css">

   <% if (loggedIn) { %>
        <%- include('templates/header.ejs', { name: name }) %>
        <div>
            <h1 class="text-center">Welcome, <%= name %>
            </h1>
        </div>


        <div>
        <%- include('templates/recommended_card.ejs', { recommended_games : recommended_games }) %>
        <%- include('templates/trending_card.ejs', { trending_games : trending_games }) %>
        </div>

    <% } else { %>
        <%- include('templates/headerloggedout.ejs') %>
        <div class="text-center">
            <h1>Login to use our recommended tab!</h1>
        </div>
        <div class="text-center">
            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/signup" class="btn btn-primary">Signup</a>
        </div>
        <br>
        <%- include('templates/trending_card.ejs', { trending_games : trending_games }) %>

    <% } %>

<%- include('templates/svgs.ejs') %>
<%- include('templates/footer.ejs') %>