
<%- include('./templates/header.ejs', { "name": name }) %>
    <main>
        <h1 class="text-center">
            Recommended Games
        </h1>
        <div class="row">
        <% for (let i = 0; i < recommended_games.length; i++) { %>
                <div class="card" id = gameCard>
                    <div class="row g-0">
                        <div class="col-sm row-">
                            <img src="
                                    <%= recommended_games[i].cover.url %>
                                " class="img-fluid rounded-start gameImage" alt="Tears of the Kingdom">
                        </div>
                        <div class="col-sm row-">
                            <div class="card-body">
                                <h5 class="card-title"><%= recommended_games[i].name %></h5>
                                <p class="card-text"><%= recommended_games[i].summary %></p>
                                <form method="post" action="/gameInformation">
                                    <input type="hidden" name="apiGameID" value="<%= recommended_games[(i)].id %>">
                                    <button type="submit" class="btn btn-primary">See more information</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
    </main>
    <%- include('./templates/footer.ejs') %>

    