<style>
  #gameCard{
      max-width: 33%;
  }
  @media screen and (max-width: 1500px){
      #gameCard{
          max-width: 33%;
      }
  }
  @media screen and (max-width: 900px){
      #gameCard{
          max-width: 100%;
      }
  }

  @media screen and (max-width: 576px){
      .gameImage{
          width: 100%;
      }
      
      #gameCard{ 
          max-width: 100%;
      }
  }
  
</style>

<%- include('./templates/header.ejs', { "name": name }) %>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <main>
      <h1>
          Search for Games
      </h1>
  
      <br>
  
      <div id="filter">
        <h3>Filter by Categories:</h3>
        <div id="gameGenreTypes" class="row">
          <% let selectedGenreTypes = [] %>
          <% apiGenres.forEach((type) => { %>
            <% const isChecked = selectedGenreTypes.includes(type.slug); %>
            <div class=" col-md-5 col-lg-3">
              <div class="form-check">
                <input class="form-check-input typeCheckbox" type="checkbox" value="<%=type.name%>" <%= isChecked ? 'checked' : '' %>>
                <label class="form-check-label"><%=type.name%></label>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <br>
  
      <ul class="pagination">
        <!-- Previous Page button -->
        <a class="btn btn-primary ml-1" href="/searchGames?page=<%= (currentPage - 1) %>" <% if (currentPage === 1) { %> style="display: none;" <% } %>><</a> &nbsp;
        <% for (let i = 1; i <= numPages; i++) { %>
          <li>
            <% if (currentPage === i) { %>
              <a class="btn btn-primary active" href="/searchGames?page=<%= i %>"
                <% } else { %>
                  <a class="btn btn-primary" href="/searchGames?page=<%= i %>"
              <% } %>
            ><%= i %></a>
          </li>
          &nbsp;
        <% } %>
        <!-- Next Page button -->
        <a class="btn btn-primary ml-1" href="/searchGames?page=<%= currentPage + 1 %>" <% if (currentPage === numPages) { %> style="display: none;" <% } %>>></a>
      </ul>
        <div class="row" id="gameCards">
          <% for (let i = (currentPage - 1)*PAGE_SIZE; i < currentPage * PAGE_SIZE; i++) { %>
                  <div class="card" id = gameCard>
                      <div class="row g-0">
                          <div class="col-sm row-">
                              <img src="
                                  <%= gameResponse[i].cover%>
                                  " class="img-fluid rounded-start gameImage" alt="Tears of the Kingdom">
                          </div>
                          <div class="col-sm row-">
                               <div class="card-body">
                                  <h5 class="card-title"><%= gameResponse[i].name %></h5>
                                  <p class="card-text"><%= gameResponse[i].summary %></p>
                                  <p class="card-text"><%= gameResponse[i]._id %></p>
                                  <form method="post" action="/gameInformation">
                                      <input type="hidden" name="mongoGameID" value="<%= gameResponse[(i)]._id %>">
                                      <input type="hidden" name="apiGameID" value="<%= gameResponse[(i)].apiID %>">
                                      <input type ="hidden" name="gameImage" value="<%= gameResponse[(i)].cover %>">
                                      <button type="submit" class="btn btn-primary">See more information</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <% } %>
              </div>
      </main>
    <%- include('./templates/footer.ejs') %>

    <script>
      const gameResponse = <%- JSON.stringify(gameResponse) %>;
      const apiGenres = <%- JSON.stringify(apiGenres) %>;
      var currentPage = <%- JSON.stringify(currentPage) %>;
      var numPages = <%- JSON.stringify(numPages) %>;
      const PAGE_SIZE = <%- JSON.stringify(PAGE_SIZE) %>;
    </script>
      <script src="searchGamesScripts.js"></script>
</body>