<%- include('./templates/header.ejs', { "name": name }) %>
    <main>
        <h1>
            Trending Games
        </h1>
        <% for (let i = 0; i < 9; i++) { %>
            <div class="row">
                <div class="card" style="max-width: 720px;">
                    <div class="row g-0">
                        <div class="col">
                            <img src="
                                <%= trending_games[i].cover %>
                                " class="img-fluid rounded-start" alt="Tears of the Kingdom">
                        </div>
                        <div class="col">
                             <div class="card-body">
                                <h5 class="card-title"><%= trending_games[i].title %></h5>
                                <p class="card-text"><%= trending_games[i].summary %></p>
                                <form method="post" action="/gameInformation">
                                    <input type="hidden" name="gameID" value="<%= trending_games[(i)]._id %>">
                                    <button type="submit" class="btn btn-primary">See more information</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </main>
    <%- include('./templates/footer.ejs') %>

    