<%- include('./templates/header.ejs', { "name": name }) %>
    <main>
        <h1>
            Trending Games
        </h1>
        <% for (let i = 0; i < 3; i++) { %>
            <div class="row">
                <% for (let j = 0; j < 3; j++) { %>
                    
                        <div class="card col text-center" style="width: 18rem;">
                            <img src="
                            <%= trending_games[(i*3) + j].cover %>
                            " class="card-img-top" alt="Tears of the Kingdom">
                            <div class="card-body">
                                <h5 class="card-title"> <%= trending_games[(i*3) + j].title %> </h5>
                                <p class="card-text"> <%= trending_games[(i*3) + j].summary %> </p>
                                <p> <%= trending_games[(i*3) + j].rating %> </p>
                                <p> <%= trending_games[(i*3) + j]._id %> </p>
                                <form method="post" action="/gameInformation">
                                    <input type="hidden" name="gameID" value="<%= trending_games[(i*3) + j]._id %>">
                                    <button type="submit" class="btn btn-primary">See more information</button>
                                </form>
                            </div>
                        </div>
                    
                        <% } %>
            </div>
            <% } %>
        </div>
    </main>
    <%- include('./templates/footer.ejs') %>