
<div class="form-check checkbox-xl">
    <input class="form-check-input" type="checkbox" id="<%= genre%>Checkbox" name="<%= genre%>" value="<%= genre%>">
    <label class="form-check-label" for="<%= genre%>Checkbox"><%= genre%></label>
</div>